* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', Arial;
  display: flex;
  color: #ffffff;
}
.bkgr-color {
  background: linear-gradient(rgb(82,0,96) 45%, rgb(231,10,139));
  width: 100%;
}
.vh100 {
  height: 100vh;;
}
.flexbox-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.padding2em {
  padding: 2em;
}
.height {
  height: 100px;
}