* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', Arial;
  display: flex;
}
.bkgr-color {
  background: linear-gradient(rgb(82,0,96) 45%, rgb(231,10,139));
  width: 100%;
}
.vh100 {
  height: 100vh;
}
.flexbox-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.padding2em {
  padding: 2em;
}
.opacity {
  opacity: .5;
}
/* Sección HOME */
.btn-home {
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
}
.bkgr-image {
  background-image: url('../assets/images/bkgr-home.jpg');
  background-repeat: no-repeat;
}
/* Sección SIGNUP */
.text-color {
  color: 
  #575757;
}
.vw100 {
  width: 85vw;
}
/* sección SIGN UP */
.form-style {
  padding: 2vh 5vw;
}
.country-menu {
  flex-direction: column;
  align-items: center;
  min-width: 50px;
  padding: 0.5em;
}
.country-menu ul {
  list-style: none;
}
.country-input {
  width: 10px;
}
.back-btn {
  color: #e70a8b;
  font-size: 1em;
}
.btn-next {
  border: 1px solid #520060;
  
}