* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
}
.bkgr-color {
  background: linear-gradient(rgb(82,0,96) 45%, rgb(231,10,139));
  width: 100%;
}
.padding50vh {
  padding-top: 20vh;
}
.vh100 {
  height: 100vh;
}
.flexbox-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}
.padding2em {
  padding: 2.1em;
}
.onBtn {
  background-color: #e70a8b;
  color: #ffffff;
}
.onBtn:hover {
  background-color: #520060;
  transition: all .7s ease-in-out;
}
.offBtn {
  background-color: #dfdfdf;
  color: #b2b2b296;
  border: none;
}
/* Sección HOME */
.btn-home {
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
}
.btn-home:hover {
  background-color: #ffffff;
  color: #e70a8b;
  transition: all .4s ease-in-out;
}
.bkgr-image {
  background-image: url('../assets/images/bkgr-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
/* Sección SIGNUP */
.text-color {
  color: 
  #575757;
}
.vw100 {
  width: 85vw;
}
/* sección SIGN UP */
.back-btn {
  color: #e70a8b;
  font-size: 1em;
}
.form-style {
  padding: 2vh 5vw;
}
.country-menu {
  flex-direction: column;
  align-items: center;
  min-width: 50px;
  padding: 0.5em;
}
.country-menu ul {
  list-style: none;
}
.country-input {
  width: 10px;
}
.btn-flag {
  padding: 0 10px 0 10px;
}
.height {
  height: 46vh;
}
/* sección VERIFY*/
.input-style input {
  width: 4em;
  border: #ffffff;
  border-bottom: 2px dashed #520060;
  box-shadow: 0;
}
/* clase para las banderas */
.icon16 {
  height: 3vh;
}
.recode-btn {
  background-color: #dfdfdf;
}
/* sección DATES */
.double-input .last {
  border-left-width: 0px;
}
.input-2 {
  height: 40px;
  width: 100%;
}
/* sección COMPLETE */
.icon {
  font-size: 150px;
  color: #ffffff;
}
/* Media Queries */
@media (min-width: 768px) and (max-width: 1601px) { 
  .bkgr-image {
    background-image: url('../assets/images/city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-img {
    padding-left: 8vw;
  }
  .home-img:hover {
    filter: blur(3px);
  }
  .vw100 {
    width: 94vw;
  }
  .btn-home {
    border: 2px solid #e70a8b;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 2em 5em 2em 5em;
  }
  .btn-home:hover {
    background-color: #ffffff;
    color: #e70a8b;
    transition: all .8s ease-in-out;
  }
}