<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/logo-pink.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Welcome</title>
</head>
<body class="bkgr-color vh100">
  <main class="flexbox-1 padding2em vh100">
    <div class="container">
      <din class="row">
        <div class="col-xs-12">
          <img src="../assets/images/logo-white.png" alt="" class="img-responsive">
        </div>
      </din>
      <div class="row">
        <div class=" col-xs-offset-4 col-xs-9">
          <span class="">
              <i class="material-icons icon">done_all</i>
          </span>
        </div>
      </div>
    </div>
  </main>

    <!-- enlazando framework y libreria -->
  <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/complete.js"></script>
</body>
</html>