<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
  <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/main.css">
  <title>LYFT</title>
</head>
<body class="vh100">
  <main class="flexbox-1 padding2em">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-color vw100" align="center">
          <form action="" class="form-style">
            <a href="home.html" class="pull-left back-btn"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
            <h3>SIGN UP</h3>
            <P>Join now for free ride credit</P>
            <hr>
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-labelledby="dLabel">Country  <span class="caret"></span></button>
                  <ul class="dropdown-menu country-menu" aria-labelledby="dLabel">
                    <li role="presentation">
                      <img src="../assets/icons/flags/usa.png" alt="" class="img-responsive"></li>
                    <li role="presentation">
                      <img src="../assets/icons/flags/brazil.png" alt="" class="img-responsive"></li>
                    <li role="presentation">
                      <img src="../assets/icons/flags/spain.png" alt="" class="img-responsive"></li>
                    <li role="presentation">
                      <img src="../assets/icons/flags/peru.png" alt="" class="img-responsive"></li>
                  </ul>
              </div>
              <input type="number" class="form-control">
            </div>
            <br>
            <p>We'll send a text to verify your phone</p>
              <a href="verify.html" class="btn-block btn-lg btn-next">Next</a>
          </div>
        </div>
      </div>
    </div>
  </main>
 

    <!-- enlazando framework y libreria -->
  <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/signup.js"></script>
</body>
</html>