<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/logo-pink.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/main.css">
  <title>Register Now</title>
</head>
<body class="vh100">
  <main class="flexbox-1 padding2em vh100">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-color vw100" align="center">
            <a href="home.html" class="pull-left back-btn"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-color vw100" align="center">
          <form class="form-style">
              <h1>Sign Up</h1>
              <P>Join now for free ride credit</P>
              <hr>
            <div class="input-group">
              <div class="input-group-btn">
                <button id="dropdownMenu" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-labelledby="dLabel">
                  <span>Country</span>
                  <span class="caret"></span>
                </button>
                  <ul class="dropdown-menu country-menu" aria-labelledby="dLabel">
                    <li data-option="0">
                      <img src="../assets/icons/flags/usa.ico" alt="estados unidos" id="USA"></li>
                    <li data-option="1">
                      <img src="../assets/icons/flags/brazil.ico" alt="brazil" id="BR"></li>
                    <li data-option="2">
                      <img src="../assets/icons/flags/PE.ico" alt="peru" id="PE"></li>
                  </ul>
              </div>
              <input id="phone-number" type="number" class="form-control" disabled>
            </div>
            <br>
            <p>We'll send a text to verify your phone</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <button id="next-btn" class="btn-block btn-lg offBtn"disabled>Next</a>
        </div>
      </div>                              
    </div>
  </main>
 
    <!-- enlazando framework y libreria -->
  <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/signup.js"></script>
</body>
</html>